.category__alert {
    max-width: 1230px;
}
/* success */
.category__alert--success {
    padding: 10px 30px;
    background-color: #d1e7dd;
    border-color: #badbcc;
    color: #0f5132;
}
/* fail */
.category__alert--danger {
    padding: 10px 30px;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    color: #842029;
}

.category__alert--list {
    margin: 0;
}

/* todo */
.category__content {
    max-width: 1230px;
    margin: 0 auto;
    padding: 60px 15px;
}

.create-form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.create-form__item {
    width: 70%;
}

.create-form__item--input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.create-form__btn {
    width: 20%;
}

.create-form__btn--submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Todo-List update&Delete */
.category-table {
    margin: 30px auto;
    width: 70%;
    text-align: left;
}

.category-table__inner {
    width: 100%;
}


.category-table__row {
    border-bottom: 1px solid #ddd;
    height: 60px;
}

.category-table__header {
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

.category-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.update-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.update-form__item {
    width: 70%;
    /* line-height: 50%; */
}

.update-form__item--input {
    width: 100%;
    outline: none;
    padding: 5px;
    border: none;
}

.update-form__btn {
    width: 50px;
}

.update-form__btn-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #0000ff;
    color: #fff;
}

.delete-form__btn {
    width: 50px;
    margin: 0 auto;
}

.delete-form__btn-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #ff0000;
    color: #fff;
}