.header {
    background-color: #000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-nav__item {
    color: #fff;
    font-size: 15px;
}

.header-nav__button {
    border: none;
    outline: none;
    appearance: none;
    padding: 0;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    font-size: 15px;
}