.todo__alert {
    max-width: 1230px;
}
/* success */
.todo__alert--success {
    padding: 10px 30px;
    background-color: #d1e7dd;
    border-color: #badbcc;
    color: #0f5132;
}
/* fail */
.todo__alert--danger {
    padding: 10px 30px;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    color: #842029;
}

.todo__alert--list {
    margin: 0;
}

/* todo */
.todo__content {
    max-width: 1230px;
    margin: 0 auto;
    padding: 60px 15px;
}

/* create-form */
.new-create {
    width: 70%;
    margin: 0 auto;
}
.create-form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.create-form__item {
    width: 70%;
    text-align: left;
}

.create-form__item--input {
    padding: 10px;
    width: 70%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.create-form__item--select {
    padding: 10px;
    width: 25%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.create-form__btn {
    width: 20%;
}

.create-form__btn--submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Todo-List update&Delete */
.todo-table {
    margin: 30px auto;
    width: 70%;
    text-align: left;
}

.todo-table__inner {
    width: 100%;
    table-layout: fixed;
}

.todo-table__row {
    border-bottom: 1px solid #ddd;
    height: 60px;
}

.todo-table__header {
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

.todo-table__item:first-of-type {
    padding: 12px;
}

.update-form {
    width: 100%;
}

.update-form__item1 {
    line-height: 50%;
}

.update-form__item2 {
    line-height: 50%;
}

.update-form__item--input {
    outline: none;
    width: 100%;
    padding: 5px;
    border: none;
}

.update-form__item-category {
    text-align: left;
    font-size: 13px;
    width: 100%;
}

.update-form__btn {
    width: 50px;
}

.update-form__btn-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #0000ff;
    color: #fff;
}

.delete-form__btn {
    width: 50px;
    margin: 0 auto;
}

.delete-form__btn-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #ff0000;
    color: #fff;
}

/* colgroupを使用したテーブルレイアウト */
.col-todo {
    width: 50%;
}

.col-cat {
    width: 20%;
}

.col-update {
    width: 10%;
}

.col-delete {
    width: 10%;
}

.category-list {
    width: 100%;
}

.category-list__inner {
    width: 30%;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #000;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.category-list__link {
    text-decoration: none;
    color: #fff;
}

.complete-list {
    text-align: center;
    margin: 30px auto;
}